<link rel="stylesheet" href="/src/templates/menu-item/menu-item.css">

    <article class="menu-item-wrapper">
        <div class="menu-item-content">
            <header class="menu-item-header">
                <h3>Menu item</h3>
                <data class="price" value="10,50">10,50€</data>
            </header>
            <p class="menu-item-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam quis elementum ligula, et convallis felis.
               Donec porttitor turpis vel arcu suscipit aliquam.</p>
        </div>
        <div class="image-wrapper">
            <img class="menu-item-image icon_img" src="/src/assets/img/restaurant-item.png" alt="Menu item">
        </div>
    </article>