.menu-item {
    display: flex;
    align-items: stretch;
    width: 100%;
    min-height: 120px;
    background-color: var(--bg-secondary);
    font-size: inherit;
    border-radius: 30px;
    padding: 1rem 2rem;
    gap: 1rem;
    color: var(--text-primary);
    box-sizing: border-box;
    cursor: default;
}

.menu-item__content {
    flex: 1;
}

.menu-item__content__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--text-primary);
}

.menu-item__image {
    display: flex;
    width: 8rem;
    height: 8rem;
    flex-shrink: 0;
    align-items: stretch;
}

.menu-item__image > img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    max-width: 8rem;
}