<link rel="stylesheet" href="../../templates/menu-item/menu-item.css">
<link rel="stylesheet" href="/styles.css">

<article class="menu-item">
    <div class="menu-item__content">
        <header class="menu-item__content__header">
            <h3>Menu item</h3>
            <data class="menu-item__content__header__price" value="10,50">10,50€</data>
        </header>
        <p class="menu-item__content__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam quis elementum ligula, et convallis felis.
           Donec porttitor turpis vel arcu suscipit aliquam.</p>
    </div>
    <div class="menu-item__image">
        <img class="icon" src="../../assets/img/restaurant-item.png" alt="Menu item">
    </div>
</article>