<link rel="stylesheet" href="/styles.css">

<div class="image-upload-component">

    <input type="hidden" name="image" class="image-base64-hidden">

    <input type="file" class="image-file-input" accept="image/*" style="display: none;">

    <button type="button" class="secondary-button btn-trigger-upload">
        <img class="icon" src="../../assets/icons/upload.svg" alt="Upload Image">
        <span class="upload-text">Insert Image</span>
    </button>
</div>

<script src="../../templates/insert-image/insert-image.js"></script>