.menu-popup {
  overflow: hidden;
  max-height: 80vh;
  margin: auto;
  background: var(--bg-primary);
}
.menu-popup::backdrop {
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(2px);
}

.menu-popup__scroll{
  overflow-y: auto;
  max-height: calc(80vh - 2rem);
  padding-right: .5rem;

  scrollbar-width: thin;
  scrollbar-color: rgba(0,0,0,0.2) transparent;
}


