.filters__button {
  padding: 0.8rem;
  border: 1px solid var(--text-primary);
  border-radius: 8px;
  background: var(--bg-primary);
  cursor: pointer;
  font-size: 0.9rem;
  text-align: center;
  white-space: nowrap;
  color: var(--text-secondary);
}

.filters__button.active {
  background-color: var(--bg-secondary);
  color: var(--text-primary);
  border-color: var(--bg-secondary);
}
