.filters {
  color: var(--text-primary);
}

.filters__buttons {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 0.8rem;
  margin-top: 1rem;
  max-width: 100%;
  width: 100%;
}

.filters__button {
  padding: 0.8rem;
  border: 1px solid var(--text-primary);
  border-radius: 8px;
  background: var(--bg-primary);
  cursor: pointer;
  font-size: 0.9rem;
  text-align: center;
  white-space: nowrap;
  color: var(--text-secondary);
}

.filters__button.active {
  background-color: var(--bg-secondary);
  color: var(--text-primary);
  border-color: var(--bg-secondary);
}

.restaurant-reviews-page__filters__sort-by {
  display: flex;
  flex-direction: row;
}

.restaurant-reviews-page__filters__sort-by__dropdown {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.restaurant-reviews-page__filters__sort-by__dropdown select {
  width: 100%;
  min-width: 0;
  border-radius: 8px;
  border: 1px solid var(--text-primary);
  background-color: var(--bg-primary);
  font-size: 1rem;
  color: var(--text-primary);
}

@media (max-width: 1024px) {
  .filters__buttons {
    grid-template-columns: repeat(auto-fit, minmax(120px, max-content));
    max-width: 500px;
    width: auto;
  }

  .restaurant-reviews-page__filters__sort-by__dropdown select {
    width: auto;
    min-width: 200px;
  }
}
