<link rel="stylesheet" href="/src/css/forms.css">

<dialog id="become-restaurant-popup" open>
  <h3>Become an Affiliate</h3>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean vel sem dui. Lorem ipsum dolor sit amet,
      consectetur adipiscing elit. Aliquam blandit viverra scelerisque. Aliquam et vehicula nibh, vulputate tincidunt
      velit. Phasellus elementum laoreet ante sit amet aliquam. Integer vel ante enim. Nam aliquet pharetra libero
      porttitor faucibus. Curabitur ut leo non odio placerat elementum. Vestibulum commodo ipsum a auctor pretium.
      Integer sagittis et orci et sagittis.</p>
  <form>
      <div>
        <label>
          <input type="text" placeholder="Name" required>
        </label>
        <label>
            <input type="text" placeholder="Surname" required>
        </label>
        <label>
            <input type="tel" placeholder="Phone number" required>
        </label>
      </div>
        <label>
            <input type="email" placeholder="Email" required>
        </label>
      <div>
          <label>
              <input type="text" placeholder="Restaurant Name" required>
          </label>
          <label class="campo">
              <input list="tagsList" id="tag-input" placeholder="Add a tag">
              <datalist id="tagsList">
                  <option value="Italian">
                  <option value="Mexican">
                  <option value="Vegan">
              </datalist>
          </label>
      </div>
      <div class="tags-container" id="tags-container"></div>
      <script src="/src/templates/become-a-restaurant/become-a-restaurant.js">

      </script>

        <label>
            <input type="text" placeholder="Restaurant address (line 1)" required>
        </label>
        <label>
            <input type="text" placeholder="Restaurant address (line 2)">
        </label>
      <div>
        <label>
            <input type="text" placeholder="City" required>
        </label>
        <label>
            <input type="text" placeholder="Province" required>
        </label>
        <label>
            <input type="text" placeholder="Postal Code" required>
        </label>
      </div>
    <button class="primary-button" type="submit">Register</button>
  </form>
</dialog>