<link rel="stylesheet" href="/src/templates/date-range/date-range.css">
<script type="module" src="/src/templates/date-range/date-range.js" defer></script>
<link rel="stylesheet" href="/styles.css">

<div class="date-range">
    <div class="date-range__wrapper">
        <button type="button" id="calendar-range-button" class="date-range__wrapper__button">
            <img src="/src/assets/icons/calendar.svg" alt="Calendar Icon" class="icon">
        </button>
        <label for="calendar-range-input"></label>
        <input id="calendar-range-input" type="text" placeholder="Select a date range">
    </div>
</div>