<link rel="stylesheet" href="../../templates/summary-breakdown/summary-breakdown.css">

<div class="summary-breakdown">
  <div class="summary-breakdown__bar">
    <span>5</span>
    <img src="../../assets/icons/star.svg" alt="star" class="summary-breakdown__bar__icon">
    <div class="summary-breakdown__bar__container">
      <div data-template="width-rating" filter="percent-5" class="summary-breakdown__bar__container__fill" ></div>
    </div>
    <span data-template="text-rating" filter="get-5" class="summary-breakdown__bar__count">999</span>
  </div>
  <div class="summary-breakdown__bar">
    <span>4</span>
    <img src="../../assets/icons/star.svg" alt="star" class="summary-breakdown__bar__icon">
    <div class="summary-breakdown__bar__container">
      <div data-template="width-rating" filter="percent-4" class="summary-breakdown__bar__container__fill"></div>
    </div>
    <span data-template="text-rating" filter="get-4" class="summary-breakdown__bar__count" >999</span>
  </div>
  <div class="summary-breakdown__bar">
    <span>3</span>
    <img src="../../assets/icons/star.svg" alt="star" class="summary-breakdown__bar__icon">
    <div class="summary-breakdown__bar__container">
      <div data-template="width-rating" filter="percent-3" class="summary-breakdown__bar__container__fill" ></div>
    </div>
    <span data-template="text-rating" filter="get-3" class="summary-breakdown__bar__count">999</span>
  </div>
  <div class="summary-breakdown__bar">
    <span>2</span>
    <img src="../../assets/icons/star.svg" alt="star" class="summary-breakdown__bar__icon">
    <div class="summary-breakdown__bar__container">
      <div data-template="width-rating" filter="percent-2" class="summary-breakdown__bar__container__fill"></div>
    </div>
    <span data-template="text-rating" filter="get-2" class="summary-breakdown__bar__count">999</span>
  </div>
  <div class="summary-breakdown__bar">
    <span>1</span>
    <img src="../../assets/icons/star.svg" alt="star" class="summary-breakdown__bar__icon">
    <div class="summary-breakdown__bar__container">
      <div data-template="width-rating" filter="percent-1" class="summary-breakdown__bar__container__fill"></div>
    </div>
    <span data-template="text-rating" filter="get-1" class="summary-breakdown__bar__count">999</span>
  </div>
</div>