* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: inherit;
}

:root {
    --bg-primary: #f5f5f5;
    --bg-secondary: #f8f9fa;
    --text-primary: #333;
    --text-secondary: #555;
    --text-tertiary: #666;
    --text-quaternary: #fff;
    --border-color: #000;
    --shadow: rgba(0, 0, 0, 0.1);
    --border-padding: 20px;
    --button-primary: #efefef;
    --button-secondary: #2c2c2c;
}

body.dark-mode {
    --bg-primary: #1a1a1a;
    --bg-secondary: #2d2d2d;
    --text-primary: #e0e0e0;
    --text-secondary: #b0b0b0;
    --text-tertiary: #909090;
    --text-quaternary: #000;
    --border-color: #404040;
    --shadow: rgba(0, 0, 0, 0.3);
    --button-primary: #2c2c2c;
    --button-secondary: #acacac;
}

button {
    border-radius: 12px;
    gap: 0.5rem;
    padding: 0.3rem 1rem;
    display: inline-flex;
    align-items: center;
    cursor: pointer;
}

.secondary-button{
    color: var(--text-primary);
    background-color: var(--button-primary);
    border: solid 0.1em var(--text-primary);
}

.secondary-button:active{
    background-color: var(--shadow);
}

.primary-button{
    color: var(--text-quaternary);
    background-color: var(--button-secondary);
    border: none;
}

.primary-button:active{
    background-color: var(--shadow);
}