.edit-profile-page {
  color: var(--text-primary);
}

.edit-profile-page__avatar {
  width: min(70vw, 20rem);
  height: min(70vw, 20rem);
  object-fit: cover;
  border-radius: 100%;
}

.edit-profile-page__avatar-none {
  font-size: 20rem;
  padding: 0;
  line-height: 1;
}
