:root {
    --button-padding: 12px;
    --button-gap: 8px;
    --button-radius: 12% 12% 12% 12%;
    --background-button-color: #e1e1e1;
    --text-button-color: #191a1c;
    --profile-image-size: 100px;
}

.overview{
    display: flex;
    border-radius: 5%;
    padding: 16px;
    flex-direction: row;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center;
    gap: 16px;
    background-color: var(--bg-primary);
    box-shadow: 0.1em 0  1em grey;
}

.overview header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    color: var(--text-primary);
}
.overview > div > p{
    color: var(--text-primary);
}

.overview .buttonContainer{
    display: flex;
    flex-direction: row-reverse;
    gap: var(--button-gap);
}

.overview .buttonContainer button{
    color: var(--text-primary);
    padding: var(--button-padding);
    justify-content: center;
    align-items: center;
    gap: var(--button-gap);
    align-self: stretch;
    border-radius: var(--button-radius);
    border: 1px solid black;
    background: var(--button-primary);
}
.restaurantImage{
    width: 50%;
    border-radius: 20px 20px 20px 20px;
}

.profileImage{
    width: var(--profile-image-size);
    height: var(--profile-image-size);
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #ddd;
}