<link rel="stylesheet" href="/src/templates/overview/overview.css">

<article class="overview restaurantCard">
    <img src="/src/assets/img/restaurant-item.png" alt="a restaurant image" class="restaurantImage icon_img">
    <div>
        <header>
            <h1>Restaurant Name</h1>
            <span xlu-include-file="/src/templates/user-score/user-score.html"></span>
        </header>
        <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
        </p>
        <div class="buttonContainer">
            <button>go</button>
        </div>
    </div>
</article>

<article class="overview reservationCard">
    <div>
        <header>
            <img src="/src/assets/img/restaurant-item.png" alt="user image" class="profileImage icon_img">
            <h1>Restaurant Name</h1>
            <time>10/2/2021  19:21</time>
        </header>
        <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
        </p>
        <div class="buttonContainer">
            <button>booked tables</button>
        </div>
    </div>
</article>

    <article class="overview restaurantReservationCardCurrent">
    <img src="/src/assets/img/restaurant-item.png" alt="a restaurant image" class="restaurantImage icon_img">
        <div>
        <header>
            <h1>Restaurant Name</h1>
            <span>01/01/2027</span>
        </header>
        <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
        </p>
        <div class="buttonContainer">
            <button>Read Review</button>
            <button>Cancel Reservation</button>
            <button>write a Review</button>
        </div>
    </div>
</article>