<link rel="stylesheet" href="../../templates/overview/overview.css">
<link rel="stylesheet" href="/styles.css">

<article class="overview">
    <div class="overview__image"></div>

    <div class="overview__content">
        <header>
            <div class="overview__content__title">
                <h1>Lorem ipsum</h1>
                <span class="overview__content__title__date">01/01/2026</span>
            </div>
        </header>

        <p class="overview__content__description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam quis elementum ligula, et convallis felis.
            Donec porttitor turpis vel arcu suscipit aliquam. Sed et interdum eros. Phasellus ut vehicula mi, in
            condimentum erat.
        </p>

        <div class="overview__content__button-container"> </div>
    </div>
</article>

