.overview {
    display: flex;
    background-color: var(--bg-secondary);
    border-radius: 0.5rem;
    padding: 1.2rem;
    width: 80%;
    margin: 20px auto;
    box-shadow: 0 1px 3px rgba(0,0,0,0.1);
    gap: 1.2rem;
}

.overview__image {
    flex: 0 0 auto;
    display: flex;
    max-width: 10rem;
    justify-content: center;
    align-items: center;
}

.overview__content {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.overview__content h1 {
    font-size: 1.5rem;
    color: var(--text-primary);
    font-weight: bold;
}

.overview__content__title {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.overview__content__title__date {
    font-size: 0.9rem;
    color: var(--text-primary);
}

.overview__content__description {
    color: var(--text-secondary);
    font-size: 0.95rem;
    line-height: 1.5;
}

.overview__content__button-container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    align-self: end;
    gap: 0.5rem;
}

.overview__content__button-container > button {
    padding: 0.5rem 1rem;
}