<link rel="stylesheet" href="/src/templates/my-account-popup/my-account-popup.css">

<dialog class="my-account-popup" open>
    <nav class="my-account-popup__nav">
        <button class="my-account-popup__nav__button" id="my-account">
            <img src="/src/assets/icons/account-user.svg" alt="User Icon" class="icon">
            My Account
        </button>
        <button class="my-account-popup__nav__button" id="my-reservations">
            <img src="/src/assets/icons/calendar-past-reserved.svg" alt="User Icon" class="icon">
            Past Reservations
        </button>
        <button class="my-account-popup__nav__button" id="incoming-reservations">
            <img src="/src/assets/icons/calendar-incoming-reserverd.svg" alt="User Icon" class="icon">
            Incoming Reservations
        </button>
        <button class="my-account-popup__nav__button" id="log-out">
            <img src="/src/assets/icons/logout.svg" alt="User Icon" class="icon">
            Log Out
        </button>
    </nav>
</dialog>