.my-account-popup {
    display: flex;
    align-items: center;
    position: fixed;
    padding: 0.5rem;
    border-radius: 1rem;
    box-shadow: 8px var(--shadow);
    border: none;
    top: 0;
    right: 0;
    z-index: 1000;
    background-color: var(--bg-primary);

}
.my-account-popup__nav {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    gap: 1.5rem;
    justify-content: left;
}

.my-account-popup__nav__button{
    display: flex;
    align-items: center;
    gap: 1rem;
    background: none;
    border: none;
    padding: 0;
    font: inherit;
    outline: none;
    cursor: pointer;
    color: var(--text-primary);
}
