.profile-overlay{
    position: fixed;
    align-items: center;
    top: 0;
    right: 0;
    z-index: 1000;
    background-color: var(--bg-secondary);

}
.profile-overlay .profile-popup{
    padding: 1rem;
    display: flex;
    justify-content: left;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: 8px  8px 8px var(--shadow);
}

.profile-overlay .profile-popup button{
    background: none;
    border: none;
    padding: 0;
    font: inherit;
    outline: none;
    color: var(--text-primary);
}

.profile-overlay .profile-popup .profile-popup-content{
    display: flex;
    align-items: center;
    gap: 1rem;
    cursor: pointer;
    margin: 0.5rem;
}
.profile-overlay .profile-popup .profile-popup-content img{
    width: 1.6em;
    height: 1.4em;
}