<link rel="stylesheet" href="../../templates/user-review/user-review.css">
<link rel="stylesheet" href="/styles.css">

<article class="user-review">
  <header class="user-review__header">
    <div class="user-review__header__metadata">
      <div data-context="user-profiles" related="userId">
        <img data-template="src-image" class="user-review__header__image" src="../../assets/img/restaurant-item.png" alt="" >
        <h2 data-template="text-name">User Name</h2>
      </div>
      <h3 data-template="text-createdAt">3 days ago</h3>
      <div class="user-review__header__metadata__value" load-template="user-score"></div>
    </div>
  </header>
  <p data-template="text-description"></p>
  <div class="user-review__pros-cons">
    <h4><em>Pros</em></h4>
    <p data-template="text-pros"></p>
    <h4><em>Cons</em></h4>
    <p data-template="text-cons"></p>
  </div>
  <div data-template="user-carousel" class="user-review__images">
  </div>
</article>
