<link rel="stylesheet" href="/src/templates/user-review/user-review.css">
  
<article class="user-review">
  <header class="review-header">
    <img class="user-image" src="/src/assets/img/restaurant-item.png" alt="">
    <div class="review-metadata">
      <div>
        <h2>User Name</h2>
        <h3>3 days ago</h3>
      </div>
      <div class="review-value" xlu-include-file="/src/templates/user-score/user-score.html"></div>
    </div>
  </header>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean vel sem dui. Lorem ipsum dolor sit amet,
     consectetur adipiscing elit. Aliquam blandit viverra scelerisque. Aliquam et vehicula nibh, vulputate
     tincidunt velit. Phasellus elementum laoreet ante sit amet aliquam. Integer vel ante enim.</p>
  <div class="pros-cons">
    <h4><em>Pros</em></h4>
    <ul>
      <li>Lorem ipsum dolor sit amet.</li>
      <li>Lorem ipsum dolor sit amet.</li>
    </ul>
    <h4><em>Cons</em></h4>
    <ul>
      <li>Lorem ipsum dolor sit amet.</li>
      <li>Lorem ipsum dolor sit amet.</li>
    </ul>
  </div>
  <div class="review-images">
    <img class="review-image" src="/src/assets/img/restaurant-item.png" alt="">
    <img class="review-image" src="/src/assets/img/restaurant-item.png" alt="">
    <img class="review-image" src="/src/assets/img/restaurant-item.png" alt="">
    <img class="review-image" src="/src/assets/img/restaurant-item.png" alt="">
    <img class="review-image" src="/src/assets/img/restaurant-item.png" alt="">
  </div>
</article>
