[ngbDropdownToggle]::after {
  display: none;
}

.hour-menu {
  min-width: unset;
  max-height: 300px;
  width: 100%;
  overflow-y: scroll;
  color: var(--text-primary);
  background-color: var(--bg-primary);
}
