.diners-pill {
  border: 0.1rem solid black;
  border-radius: 1.5rem;
  padding: 0.3rem;
}

.diners-btn {
  width: 1.5em;
  height: 1.5em;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}

data {
  width: 2ch;
}
