<div class="d-inline-flex align-items-center">
  <i class="bi bi-person custom-icon fs-4"></i>
  <div class="diners-pill d-inline-flex align-items-center gap-1">
    <button class="btn btn-custom-secondary p-0 rounded-circle diners-btn" (click)="decrement()">
      <i class="bi bi-dash"></i>
    </button>
    <data [value]="diners()" class="text-center d-inline-block"> {{ diners() }} </data>
    <button class="btn btn-custom-secondary p-0 rounded-circle diners-btn" (click)="increment()">
      <i class="bi bi-plus"></i>
    </button>
  </div>
</div>
