<link rel="stylesheet" href="../../css/forms.css">
<script type="module" src="../../templates/create-an-account/createAccount.js"></script>
<dialog id="register-popup">

    <div class="register-form form">
        <h3>Create an account</h3>
        <p>Create a BookEat account and access all of our services and privileges.</p>

        <form id="form-register">
            <div class="form__row">
                <label> <input name="Name" type="text" placeholder="Name" required> </label>
                <label> <input name="Surname" type="text" placeholder="Surname" required> </label>
            </div>
            <div class="form__row">
                <label> <input name="PhoneNumber" type="tel" placeholder="Phone Number" required> </label>
                <label> <input name="Birthdate" type="date" placeholder="Birthdate" required> </label>
            </div>
            <label class="form__row"> <input name="Email" type="email" placeholder="Email" required> </label>
            <label class="form__row"> <input name="Password" type="password" placeholder="Password" required> </label>
            <label class="form__row"> <input name="ConfirmPassword" type="password" placeholder="Confirm Password" required> </label>

            <button class="primary-button" type="submit">Register</button>
        </form>

        <button class="secondary-button" type="button" id="loginButton" data-opens="login-popup">Login</button>
    </div>

</dialog>
<script src="../../js/auth-mode.js"></script>