#menu-dialog {
    overflow: auto;
    max-height: 80vh;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: inline-flex;
    flex-direction: column;
    background: var(--bg-primary);
    padding: 1rem;
    gap: 0.5rem;
    border: none;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
}