.edit-profile-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4rem;
    padding: 0.5rem 20rem;
    width: 100%;
}

.edit-profile-page__public {
    align-items: center;
    gap: 1.5rem;
}

.edit-profile-page__public__image {
    position: relative;
}

.edit-profile-page__public__image > img {
    width: 20rem;
    height: 20rem;
    object-fit: cover;
}

.edit-profile-page__public__image > div {
    font-size: 2.5rem;
    position: absolute;
    bottom: 1rem;
    right: 1rem;
}

.edit-profile-page__public__name {
    display: flex;
    gap: 0.5rem;
    font-size: 1.5rem;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid var(--button-primary);
    width: fit-content;
    margin: 1rem auto;
}

.edit-profile-page__public__name > div {
    font-size: 1.5rem;
}

.edit-profile-page__account-management {
    gap: 1rem;
    flex-direction: column;
}

.edit-profile-page__account-management,
.edit-profile-page__account-management div {
    display: flex;
    align-items: stretch;
    width: 100%;
}

h2 {
    font-size: 2rem;
}