main {z-index: -10;}

.edit-profile-page {
    width: 100%;
    color: var(--text-primary);
}

.edit-profile-page__public {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
}

.edit-profile-page__public__image {
    position: relative;
}

.edit-profile-page__public__image > img {
    width: min(70vw, 20rem);
    height: min(70vw, 20rem);
    object-fit: cover;
    border-radius: 100%;
}

.edit-profile-page__public__image > div {
    position: absolute;
    right: 0.8rem;
    bottom: 0.8rem;
}

.edit-profile-page__public__name {
    display: flex;
    gap: 0.5rem;
    font-size: 1.5rem;
    justify-content: center;
    align-items: center;
    border-bottom: 3px solid var(--button-primary);
    width: fit-content;
    margin: 1rem auto;
}

.edit-profile-page__public__name .edit-property__label__name,
.edit-profile-page__public__name .edit-property__icon {
    display: none;
}

.edit-profile-page__public__name .edit-property__label__field {
    border: none;
    flex-grow: 0;
}

.edit-profile-page__public__name > div {
    font-size: 1.5rem;
}

.edit-profile-page__account-management {
    display: flex;
    width: 100%;
    gap: 1rem;
    flex-direction: column;
}

h2 {
    font-size: 2rem;
}
