<link rel="stylesheet" href="/src/templates/restaurant-carousel/restaurant-carousel.css">
<!--    <script src="/src/templates/restaurant-carousel/restaurant-carousel.js"></script>-->
<div id="restaurant-carousel-container" class="restaurant-carousel-container">
    <h1>Lorem Ipsum</h1>
    <nav class="carousel">
        <div class="carousel-item" xlu-include-file="/src/templates/restaurant-carousel/restaurant-item.html"></div>
        <div class="carousel-item" xlu-include-file="/src/templates/restaurant-carousel/restaurant-item.html"></div>
        <div class="carousel-item" xlu-include-file="/src/templates/restaurant-carousel/restaurant-item.html"></div>
        <div class="carousel-item" xlu-include-file="/src/templates/restaurant-carousel/restaurant-item.html"></div>
        <div class="carousel-item" xlu-include-file="/src/templates/restaurant-carousel/restaurant-item.html"></div>
        <div class="carousel-item" xlu-include-file="/src/templates/restaurant-carousel/restaurant-item.html"></div>
        <div class="carousel-item" xlu-include-file="/src/templates/restaurant-carousel/restaurant-item.html"></div>
        <div class="carousel-item" xlu-include-file="/src/templates/restaurant-carousel/restaurant-item.html"></div>
        <div class="carousel-item" xlu-include-file="/src/templates/restaurant-carousel/restaurant-item.html"></div>
    </nav>
</div>