.restaurant-carousel-container {
    width: 100%;
    padding: 1em;
    overflow: hidden;
    position: relative;
    user-select: none;
    background:var(--bg-primary) ;
}

.restaurant-carousel-container h1 {
    color: var(--text-primary);
    font-size: 2em;
    margin: 0 0.5rem 0.5rem;
}

.carousel {
    display: flex;
    transition: transform 0.3s ease-out;
    overflow: auto;
    > div {
        scroll-snap-align: center;
    }
}

.carousel-item {
    min-width: 200px;
    height: 100%;
    background: var(--bg-primary);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2em;
    margin: 0.5rem;
    transition: transform 0.3s;

}

.carousel-item:hover {
    transform: scale(1.05);
}


.restaurant-carousel-container::before {
    left: 0;
    background: linear-gradient(to right,var(--bg-secondary), transparent);
}

.restaurant-carousel-container::after {
    right: 0;
    background: linear-gradient(to left, var(--bg-secondary), transparent);
}