<link rel="stylesheet" href="/src/templates/restaurant-carousel/restaurant-carousel.css">
<div id="restaurant-carousel" class="restaurant-carousel">
    <h1>Lorem Ipsum</h1>
    <section class="restaurant-carousel__carousel">
        <div class="restaurant-carousel__carousel__item" xlu-include-file="/src/templates/restaurant-item/restaurant-item.html"></div>
        <div class="restaurant-carousel__carousel__item" xlu-include-file="/src/templates/restaurant-item/restaurant-item.html"></div>
        <div class="restaurant-carousel__carousel__item" xlu-include-file="/src/templates/restaurant-item/restaurant-item.html"></div>
        <div class="restaurant-carousel__carousel__item" xlu-include-file="/src/templates/restaurant-item/restaurant-item.html"></div>
        <div class="restaurant-carousel__carousel__item" xlu-include-file="/src/templates/restaurant-item/restaurant-item.html"></div>
        <div class="restaurant-carousel__carousel__item" xlu-include-file="/src/templates/restaurant-item/restaurant-item.html"></div>
        <div class="restaurant-carousel__carousel__item" xlu-include-file="/src/templates/restaurant-item/restaurant-item.html"></div>
        <div class="restaurant-carousel__carousel__item" xlu-include-file="/src/templates/restaurant-item/restaurant-item.html"></div>
        <div class="restaurant-carousel__carousel__item" xlu-include-file="/src/templates/restaurant-item/restaurant-item.html"></div>
    </section>
</div>