.footer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
    background: var(--bg-secondary);
    color: var(--text-primary);
    padding: var(--border-padding);
}

.footer img{
    width: 5em;
    height: auto;
}

.footer__column{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-content: center;
    align-items: center;
}

.footer__column a {
    text-decoration: none;
    color: inherit;
}