    <link rel="stylesheet" href="/src/css/footer.css">

    <footer class="site-footer">
    <div class="footer-column">
    <img class="icon_img" src="/src/assets/icons/logo.svg" alt="Book eat">
    </div>
    <div class="footer-column">
      <h3>Become an affiliate</h3>
    </div>

    <div class="footer-column">
      <h3>Links</h3>
      <ul>
        <li>Lorem ipsum dolor</li>
        <li>Lorem ipsum dolor</li>
        <li>Lorem ipsum dolor</li>
      </ul>
    </div>

    <div class="footer-column">
      <h3>Contact</h3>
      <p>Email: lorem@ipsum.com</p>
      <p>Tel: 123456789</p>
    </div>
</footer>
