<link rel="stylesheet" href="/src/templates/footer/footer.css">

<footer class="footer">
    <div class="footer__column">
    <img src="/src/assets/icons/logo.svg" alt="BookEat" class="icon">
    </div>
    <div class="footer__column">
      <a href="/BookEat/src/pages/become-an-affiliate/become-an-affiliate.html">
          <h3>Become an affiliate</h3>
      </a>
    </div>

    <div class="footer__column">
      <h3>Links</h3>
      <ul>
        <li>Lorem ipsum dolor</li>
        <li>Lorem ipsum dolor</li>
        <li>Lorem ipsum dolor</li>
      </ul>
    </div>

    <div class="footer__column">
      <h3>Contact</h3>
      <p>Email: lorem@ipsum.com</p>
      <p>Tel: 123456789</p>
    </div>
</footer>
