<dialog #CreateAnAccount class="menu-popup border-0 rounded-4 p-0 shadow-lg" (click)="closeOnBackdrop($event)">
  <app-form-card
    title="Login or create an account"
    subtitle="Log in with your BookEat account..."
    classname="card p-4 d-flex flex-column align-items-center justify-content-center text-center gap-3 bg-transparent border-0"
    styles="box-shadow: none; color: var(--text-primary)"
  >

  <form class="form" (submit)="onSubmit($event)">
  <div class="form__row">
    <label>
      <input [formField]="registerForm.name" type="text" placeholder="Name">
    </label>
    <label>
      <input [formField]="registerForm.surname" type="text" placeholder="Surname">
    </label>
  </div>

  <div class="form__row">
    <label>
      <input [formField]="registerForm.phoneNumber" type="tel" placeholder="Phone Number">
    </label>
    <label>
      <input [formField]="registerForm.birthdate" type="date" placeholder="Birthdate">
    </label>
  </div>

  <label class="form__row">
    <input [formField]="registerForm.email" type="email" placeholder="Email">
  </label>

  <label class="form__row">
    <input [formField]="registerForm.password" type="password" placeholder="Password">
  </label>

  <label class="form__row">
    <input [formField]="registerForm.confirmPassword" type="password" placeholder="Confirm Password">
  </label>

  <button class="primary-button" type="submit" [disabled]="registerForm().invalid()">
    Register
  </button>
</form>
  </app-form-card>
</dialog>
