<link rel="stylesheet" href="../../templates/edit-profile-image-popup/edit-profile-image-popup.css">
<link rel="stylesheet" href="/styles.css">

<dialog id="edit-profile-image-dialog" class="edit-profile-image">
  <section class="edit-profile-image__content">
    <h2>Edit your profile image</h2>
    <div xlu-include-file="../../components/insert-image.html"></div>
  </section>
  <footer class="edit-profile-image__footer">
    <button class="secondary-button">Cancel</button>
    <button class="primary-button">Save</button>
  </footer>
</dialog>