<link rel="stylesheet" href="/src/templates/edit-profile-image-popup/edit-profile-image-popup.css">
<link rel="stylesheet" href="/styles.css">

<dialog id="edit-profile-image-dialog">
  <section class="popup-content">
    <h2>Edit your profile image</h2>
    <div xlu-include-file="/src/components/insert-image.html"></div>
  </section>
  <footer class="popup-footer">
    <button class="cancel-button secondary-button">Cancel</button>
    <button class="save-button primary-button">Save</button>
  </footer>
</dialog>