.searcher-page {
    display: flex;
    align-items: flex-start;
    gap: 30px;
    margin: 20px auto;
    padding: 0 20px;
}

.searcher-page__filters {
    flex: 0 0 250px;
    position: sticky;
    top: 20px;
    padding: 15px;
    color: var(--text-primary);
}

.searcher-page__filters__slider {
    position: relative;
    height: 40px;
    margin: 10px 0;
}

.searcher-page__filters__slider__line {
    height: 6px;
    background: #e0e0e0;
    width: 100%;
    margin-top: 15px;
}

.searcher-page__filters__slider__dot {
    border-radius: 50%;
    position: absolute;
    top: 9px;
}

.searcher-page__filters__slider__dot.left {
    left: 0;
}

.searcher-page__filters__slider__dot.right {
    right: 0;
}

.searcher-page__filters__list {
    list-style: none;
    padding: 0;
}

.searcher-page__filters__list > li {
    margin: 0.7em 0;
    font-size: 1.2rem;
}

.searcher-page__results {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
}