<link rel="stylesheet" href="../../templates/booking-confirmation-popup/booking-confirmation-popup.css">
<link rel="stylesheet" href="/styles.css">


<dialog id="booking-confirmation-popup">
    <h2 id="booking-confirmation-popup__title">Booking Confirmation</h2>
    <p>
        Congratulations, your reservation has been confirmed!
    </p>
    <section class="reservation-details">
        <h3>Reservation Details</h3>

        <div class="reservation-details__content">
            <figure class="reservation-details__content__media">
                <iframe data-template="src-map"></iframe>
            </figure>

            <div class="reservation-details__content__info">

                <p>
                    <img src="../../assets/icons/fork-knife.svg" alt="" class="icon" >
                    <span data-template="text-restaurantName">Lorem ipsum dolor sit amet...</span>
                </p>

                <p id="reservation-details__content__info__address">
                    <img src="../../assets/icons/place-marker.svg" alt="" class="icon" >
                    <span data-template="text-address">Lorem ipsum dolor sit amet...</span>
                </p>

                <p id="reservation-details__content__info__datetime">
                    <img src="../../assets/icons/calendar.svg" alt="" class="icon">
                    <time data-template="text-datetime" datetime="2026-01-01T13:00">Mon 01/01/2026 13:00</time>
                </p>
            </div>
        </div>
        </section>

    <button class="secondary-button">
        <img class="icon" src="../../assets/icons/download.svg" alt="download confirmation">
        Download Confirmation (PDF)
    </button>
</dialog>