dialog {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: var(--bg-primary);
    border: 1px solid var(--border-color);
    border-radius: 0.25em;
    padding: 2rem;
    gap: 1rem;
    color: var(--text-primary);
}

.reservation-details {
    display: flex;
    flex-direction: column;
    background: var(--bg-primary);
    padding: 1rem;
    border-radius: 0.25em;
}

.reservation-details__content{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

figure{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem;
}

.reservation-details__content__media__image{
    width: 24em;
    height: 24em;
}

.reservation-details__content__info{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.reservation-details__content__info p{
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    gap: 3px;
}

.reservation-details__content__info p .icon{
    width: 1em;
}