<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="../../../styles.css">
<link rel="stylesheet" href="../../templates/reservation-container-popup/reservation-container-popup.css">

<dialog id="table-map-popup">
    <h2>Booked Tables</h2>

    <div class="table-map-popup__list" data-template="list-tables">
        <template>
            <div class="table-map-popup__list__table">
                <img class="icon" src="../../assets/icons/table.svg" alt="">
                <div data-template="text-self"></div>
            </div>
        </template>
    </div>
</dialog>


</html>