<header class="header d-flex align-items-center justify-content-between w-100">

  <a class="flex-shrink-0">
    <i class="bi bi-x-lg fs-2"></i>
  </a>

  <div class="header__search d-flex align-items-center rounded-pill px-1 py-1 gap-3 flex-grow-1">
    <div class="d-flex align-items-center gap-3 px-3 flex-grow-1">
      <i class="bi bi-search fs-5"></i>
      <input type="text" placeholder="Search..." class="header__input border-0 bg-transparent flex-grow-1"/>
    </div>
    <input id="header-search-toggle" class="d-none" type="checkbox"/>
    <label for="header-search-toggle" class="header__search__overflow-toggle">
      <i class="bi bi-three-dots-vertical fs-5"></i>
    </label>
    <div class="header__search__selectors align-items-center rounded-pill px-2 gap-2">
      <app-date-selector></app-date-selector>
      <div class="vr"></div>
      <app-hour-selector></app-hour-selector>
      <div class="vr"></div>
      <app-diners-selector></app-diners-selector>
    </div>
  </div>

  <div class="d-flex align-items-center gap-3 flex-shrink-0">
    <div class="d-flex align-items-center gap-2">
      <button class="btn border-0 p-1" id="language-button">
        <i class="bi bi-globe fs-4"></i>
      </button>
      <div class="vr align-self-stretch"></div>
      <button class="btn border-0 p-1" id="dark-mode-toggle">
        <i class="bi bi-moon fs-4" id="dark-mode-icon"></i>
      </button>
    </div>
    <div class="d-flex gap-2">
      <button class="btn-custom-secondary px-3" id="loginButton" data-opens="login-popup">Sign in</button>
      <button class="btn-custom-primary px-3" id="registerButton" data-opens="register-popup">Register</button>
    </div>
  </div>

</header>
