.menu-item-custom {
  min-height: 120px;
  background-color: var(--bg-secondary);
  color: var(--text-primary);
  cursor: default;
}

.menu-item__image {
  width: 8rem;
  height: 8rem;
  flex-shrink: 0;
}
