#write-review {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--bg-primary);
    border: none;
    gap: 1em;
    padding: 1.5em;
    border-radius: 30px;
}

h1 {
    font-size: 2rem; 
    color: var(--text-primary);
}

h2 {
    font-size: 1.25rem;
    color: var(--text-secondary);
}

.write-review__content {
    background-color: var(--bg-secondary);
    border-radius: 20px;
    padding: 0.8em 1.5em;
    gap: 1em;
    flex: 1;
    color: var(--text-secondary);
}

.write-review__pros-cons {
    display: flex;
    align-self: stretch;
    gap: 1em;
}

.write-review__footer {
    align-self: flex-end;
}