#review-dialog {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--bg-primary);
    border: none;
    gap: 1em;
    padding: 1.5em;
    border-radius: 30px;
}

#review-dialog > header >h1 {
    font-size: 2rem; 
    color: var(--text-primary);
}
#review-dialog > header > h2 { font-size: 1.25rem;
color: var(--text-secondary);
}

.review-content {
    background-color: var(--bg-secondary);
    border-radius: 20px;
    padding: 0.8em 1.5em;
    gap: 1em;
    flex: 1;
    color: var(--text-secondary);
}

.pros-cons-container {
    display: flex;
    align-self: stretch;
    gap: 1em;
}

.review-footer {
    align-self: flex-end;
}