<link rel="stylesheet" href="../../templates/write-review-popup/write-review-popup.css">
<link rel="stylesheet" href="/styles.css">
<script type="module" src="../../templates/write-review-popup/write-review-popup.js"></script>

<dialog id="write-review" class="write-review">
  <form id="form-write-review" class="write-review__form">
  <header> <h1 id="review-restaurant-title">RestaurantModel Name</h1> </header>
    <input type="hidden" name="restaurantId" id="review-restaurant-id">

    <section class="write-review__content">
      <textarea name="title" aria-label="Title" placeholder="Title" required rows="1"></textarea>
    </section>

    <section class="write-review__content">
      <textarea name="reviewText" aria-label="Description" placeholder="Tell us about your experience... What did you eat? How was the service?" required rows="5" style="width: 100%; padding: 0.5rem; border-radius: 0.5rem;"></textarea>
    </section>

    <section class="write-review__pros-cons">
      <section class="write-review__content">
        <header> <h2>Pros</h2> </header>
        <textarea name="pros" aria-label="Pros" placeholder="What did you love?" rows="3"></textarea>
      </section>
      <section class="write-review__content">
        <header> <h2>Cons</h2> </header>
        <textarea name="cons" aria-label="Cons" placeholder="What could be better?" rows="3"></textarea>
      </section>
    </section>

    <div load-template="star-selector"></div>
    <div load-template="insert-image"></div>

    <footer class="write-review__footer">
      <button type="button" class="secondary-button" onclick="document.getElementById('write-review').close()">Cancel</button>
      <button type="submit" class="primary-button">Submit</button>
    </footer>
  </form>
</dialog>