.summary-breakdown {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

.summary-breakdown__bar {
    display: flex;
    align-items: center;
    gap: 0.8rem;
    font-size: 1.5rem;
    color: #000;
}

.summary-breakdown__bar__icon {
    width: 1.8rem;
    height: 1.8rem;
}

.summary-breakdown__bar__container {
    flex-grow: 1;
    height: 0.2rem;
    background-color: transparent;
}

.summary-breakdown__bar__container__fill {
    height: 100%;
    background-color: #000;
    border-radius: 2px;
}

.summary-breakdown__bar__count {
    min-width: 35px;
    text-align: right;
}