<link rel="stylesheet" href="../../templates/edit-property/edit-property.css">
<link rel="stylesheet" href="/styles.css">

<div class="edit-property">
    <img class="icon edit-property__icon" src="../../assets/img/restaurant-item.png" alt="">
    <label class="edit-property__label">
        <span class="edit-property__label__name">Property</span>
        <span class="edit-property__label__field">
            <input type="text" class="edit-property__field__input" value="Lorem Ipsum" readonly>
            <span load-template="edit-button"></span>
        </span>
    </label>
</div>