<link rel="stylesheet" href="/src/templates/edit-property/edit-property.css">
<link rel="stylesheet" href="/styles.css">

<div class="edit-property">
    <img class="edit-property__icon hour-selector__placeholder__icon" src="/src/assets/img/restaurant-item.png" alt="">
    <label class="edit-property__label">
        <span>Property</span>
        <span class="edit-property__label__field">
            <input type="text" class="edit-property__field__input" value="Lorem Ipsum" readonly>
            <span xlu-include-file="/src/templates/edit-button/edit-button.html"></span>
        </span>
    </label>
</div>