<div class="d-flex align-items-center gap-3">
  @if (iconClass() || propertyTitle()) {
    <div class="edit-property__label d-flex align-items-center gap-2 flex-shrink-0">
      <i class="bi bi-{{iconClass()}} fs-2"></i>
      <span>{{propertyTitle()}}</span>
    </div>
  }
  <div class="edit-property d-flex align-items-center p-2 rounded-3 flex-grow-1">
    <input #field class="border-0 p-1 bg-transparent flex-grow-1" [type]="inputType()" [value]="propertyValue" [placeholder]="placeholder()" [disabled]="!editing()">
    <app-edit-button [editing]="editing()" (clicked)="toggleEdit(field.value)" />
  </div>
</div>
