.hour-table {
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap: 1em;
    align-items: center;
    padding: 1.5em;
}


.hour-table > button {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1rem;
}

.hour-table.free {
    flex-direction: row;
    background-color: var(--bg-primary);
    cursor: pointer;
    transition: 0.2s;
}

.hour-table.free.selected {
    background-color: var(--button-primary);
    color: var(--text-primary);
}

.hour-table.occupied {
    background-color: var(--button-secondary);
    color: var(--bg-primary);
    cursor: default;
    pointer-events: none;
}