<link rel="stylesheet" href="/src/templates/hour-selector/hour-selector.css">

<div class="hour-selector">
    <button class="hour-selector__placeholder">
        <img src="/src/assets/icons/clock.svg" alt="Clock" class="hour-selector__placeholder__icon icon">
        <span>Time</span>
        <img src="/src/assets/icons/down-arrow.svg" alt="Down-arrow" class="hour-selector__placeholder__icon icon">
    </button>
    <div class="hour-selector__dropdown">
    </div>
</div>

<script type="module" src="/src/templates/hour-selector/hour-selector.js"></script>