.hour-wrapper {
    position: relative;
    display: inline-block;
    align-items: center;
    font-size: inherit;
    border: none;
    cursor: pointer;
}

.hour-placeholder {
    display: flex;
    align-items: center;
    gap: 0.8em;
    padding: 0.3em;
    background-color: var(--bg-secondary);
    color: var(--text-primary);
}

.hour-dropdown {
    display: none;
    position: absolute;
    top: 110%;
    left: 0;
    width: max-content;
    background-color: var(--bg-secondary);
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.15);
}

.hour-dropdown.open {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 0.2em;
    max-height: 300px;
    overflow-y: scroll;
}

.edit-property__icon {
    width: 1.2em;
    height: 1.2em;
    flex-shrink: 0;
    pointer-events: none;
}

.hour-button {
    padding: 0.5rem;
    border: none;
}

.hour-button:hover {
    background-color: var(--shadow);
}

.hour-button.selected {
    background-color: var(--shadow);
}

.hour-button.occupied {
    color: var(--bg-primary);
    background-color: var(--text-primary);
}