<link rel="stylesheet" href="../../../styles.css">
<link rel="stylesheet" href="../../templates/diners-selector/diners-selector.css">
<script type="module" src="../../templates/diners-selector/diners-counter.js"></script>

<div class="diners-counter">
    <img src="../../assets/icons/account-user.svg" alt="people-icon" class="icon diners-counter__icon">
    <div class="diners-counter__container">
        <button id="less" class="secondary-button diners-counter__container__button">
            <img src="../../assets/icons/minus.svg" alt="minus" class="icon">
        </button>
        <span id="number"></span>
        <button id="more" class="secondary-button diners-counter__container__button">
            <img src="../../assets/icons/plus.svg" alt="plus" class="icon">
        </button>
    </div>
</div>