.diners-counter {
    display: flex;
    align-items: center;
    color: var(--text-primary);
    border: none;
    border-radius: 3em;
    gap: 0.4em;
    padding: 0.5em;
}

.diners-counter__container {
    display: flex;
    align-items: center;
    gap: 0.4em;
    border: 1px solid var(--text-primary);
    border-radius: 1em;
    padding: 0.15em
}

.diners-counter__container__button {
    border-radius: 2em;
    padding: 0.3em;
    height: min-content;
    background: none;
}

.diners-counter__container__button > img {
    width: 0.8em !important;
    height: 0.8em !important;
}

.diners-counter__icon {
    height: 1em;
    width: 1em;
}