    <link rel="stylesheet" href="/src/templates/star-selector/star-selector.css">
    <link rel="stylesheet" href="/styles.css">

    <div class="star-checkbox">
        <input id="star1" type="checkbox" class="star-checkbox__input" value="1">
        <label for="star1" class="star-checkbox__button"></label>

        <input id="star2" type="checkbox" class="star-checkbox__input" value="2">
        <label for="star2" class="star-checkbox__button"></label>

        <input id="star3" type="checkbox" class="star-checkbox__input" value="3">
        <label for="star3" class="star-checkbox__button"></label>

        <input id="star4" type="checkbox" class="star-checkbox__input" value="4">
        <label for="star4" class="star-checkbox__button"></label>

        <input id="star5" type="checkbox" class="star-checkbox__input" value="5">
        <label for="star5" class="star-checkbox__button"></label>
    </div>

    <script type="module" src="star-selector.js"></script>