.star-checkbox {
    display: inline-flex;
    gap: 0.1rem;
    background-color: var(--shadow);
    padding: 0.4rem 1rem;
    border-radius: 2rem;
    max-width: 180px;
}

.star-checkbox__input {
    display: none;
}

.star-checkbox__button {
    width: 1.75rem;
    height: 1.75rem;
    display: inline-block;
    background-image: url("../../assets/icons/star.svg");
}

.star-checkbox__input:checked + .star-checkbox__button {
    background-image: url("../../assets/icons/star-filled.svg");
}

.star-checkbox__button:hover,
.star-checkbox__button:hover ~ .star-checkbox__button {
    background-image: url("../../assets/icons/star.svg");
}

.star-checkbox:hover .star-checkbox__button {
    background-image: url("../../assets/icons/star-filled.svg");
}

.star-checkbox:hover .star-checkbox__button:hover ~ .star-checkbox__button {
    background-image: url("../../assets/icons/star.svg");
}