<link rel="stylesheet" href="/src/css/booking-confirmation-popup.css">

<dialog open>
    <h2>Booking Confirmation</h2>
    <p>
        Congratulations, your reservation has been confirmed!
    </p>
    <section class="reservation-details">
        <h3>Reservation Details</h3>

        <div class="details-content">
            <figure class="map-container">
                <img src="/src/assets/img/restaurant-item.png" alt="location" class="map__image">
            </figure>

            <div class="info-container">
                <p>
                    <img src="/src/assets/icons/place-marker.svg" alt="" class="icon_img" >
                    Lorem ipsum dolor sit amet...
                </p>
                <p>
                    <img src="/src/assets/icons/calendar.svg" alt="" class="icon_img">
                    <time datetime="2026-01-01T13:00">Mon 01/01/2026 13:00</time>
                </p>
            </div>
        </div>
        </section>

    <button class="secondary-button">
    <img class="icon" src="/src/assets/icons/download.svg" alt="download confirmation">
        Download Confirmation (PDF)
    </button>
</dialog>