<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login Popup</title>
    <link rel="stylesheet" href="../../styles.css">
    <link rel="stylesheet" href="../css/forms.css">
</head>
<dialog id="login-popup" open>
  <h3>Create an account</h3>
  <p>Create a BookEat account and access all of our services and privileges.</p>
  <form>
      <div>
        <label>
          <input type="text" placeholder="Name" required>
        </label>
        <label>
            <input type="text" placeholder="Surname" required>
        </label>
      </div>
      <div>
        <label>
            <input type="tel" placeholder="Phone Number" required>
        </label>
        <label>
            <input type="date" placeholder="Birthdate" required>
        </label>
      </div>
        <label>
            <input type="email" placeholder="Email" required>
        </label>
        <label>
            <input type="password" placeholder="Password" required>
        </label>
        <label>
            <input type="password" placeholder="Confirm Password" required>
        </label>
    <button id="register-button" class="primary-button" type="submit">Register</button>
  </form>
    <button id="login-button" class="secondary-button">Login</button>
</dialog>
</html>