    <link rel="stylesheet" href="/src/css/date-range.css">
    <script type="module" src="/src/js/date-range.js" defer></script>

<body>
    <div class="date-group">
        <div class="date-wrapper">
            <button type="button" class="date-button" id="calendar-range-button">
                <img src="/src/assets/icons/calendar.svg" alt="Calendar Icon" class="icon_img">
            </button>
            <label for="calendar-range-input" class="date-label"></label>
            <input id="calendar-range-input" type="text" placeholder="Select a date range">
        </div>
    </div>
</body>