<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <link rel="stylesheet" href="/src/css/date-range.css">
    <script src="https://cdn.jsdelivr.net/npm/flatpickr" defer></script>
    <script type="module" src="/src/js/date-range.js" defer></script>
    <title>Date Range</title>
</head>

<body>
    <div class="date-group">

        <div class="date-wrapper">
            <button type="button" class="date-button" id="from-button"></button>
            <input id="from-input" type="text">
        </div>

        <span class="date-separator">|</span>

        <div class="date-wrapper">
            <button type="button" class="date-button" id="to-button"></button>
            <input id="to-input" type="text">
        </div>

    </div>
</body>

</html>