<link rel="stylesheet" href="/src/css/date-selector.css">
<script type="module" src="/src/js/date-selector.js"></script>

<div id="date-picker" class="flatpickr">
    <img id="calendar-icon" src="/src/assets/icons/calendar.svg" alt="Calendar Icon" class="calendar-icon icon_img" data-toggle>
    <label>
        <input type="text" placeholder="Date" data-input>
    </label>
    <img id="dropdown-arrow" src="/src/assets/icons/down-arrow.svg" alt="Down Arrow" class="dropdown-arrow icon_img" data-toggle>
</div>