<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <link rel="stylesheet" href="/src/css/date-range.css">
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script type="module" src="/src/js/date-range.js" defer></script>
    <title>Date Range</title>
</head>

<body>
    <div class="date-group">
        <div class="date-wrapper">
            <button type="button" class="date-button" id="calendar-range-button">
                <img src="/src/assets/icons/calendar.svg" alt="Calendar Icon">
            </button>
            <label for="calendar-range-input" class="date-label"></label>
            <input id="calendar-range-input" type="text" placeholder="Select a date range">
        </div>
    </div>
</body>

</html>