<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>diners-selector</title>
    <link rel="stylesheet" href="/styles.css">
    <link rel="stylesheet" href="/src/css/diners-selector.css">
</head>
<div class="diners-counter">
    <img src="/src/assets/icons/account-user.svg" alt="people-icon">
    <button id="less" class="secondary-button">-</button>
    <span id="number"></span>
    <button id="more" class="secondary-button">+</button>
</div>
<script src="/src/js/diners-counter.js"></script>

</html>