<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit Property</title>
    <link rel="stylesheet" href="../../styles.css">
    <link rel="stylesheet" href="../css/edit-property.css">
</head>
<body>
    <div class="edit-property">
        <img class="icon" src="../assets/img/restaurant-item.png" alt="">
        <label for="property"> Property </label>
        <div class="edit-field">
            <input type="text" id="property" value="Lorem Ipsum" readonly>
            <button>Edit</button>
        </div>
    </div>
  </body>
</html>