<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>footer</title>
    <link rel="stylesheet" href="../../styles.css">
    <link rel="stylesheet" href="../css/footer.css">
</head>
<footer class="site-footer">
    <div class="footer-column">
    <img src="../assets/icons/logo.svg" alt="Book eat">
    </div>
    <div class="footer-column">
      <h3>AFFILIATES</h3>
      <p>Become a restaurant</p>
    </div>

    <div class="footer-column">
      <h3>Enlaces</h3>
      <ul>
        <li>links</li>
      </ul>
    </div>

    <div class="footer-column">
      <h3>Contacts</h3>
      <p>Email: lorem@ipsum.com</p>
      <p>Tel: 123456789</p>
    </div>
</footer>
</html>