<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="src/css/header.css">
</head>

<header class="main-header">
    <div class="logo">
        <div class="button-icon">
            <a href="../../index.html">
                <img src="src/assets/icons/logo.svg" alt="BookEat Logo" class="icon">
            </a>
        </div>
    </div>
    <div class="header-search">
        <div class="search">
            <button><img src="src/assets/icons/search.svg" alt="Search"></button>
            <input type="text" placeholder="Search...">
        </div>
        <div class="header-search-components">
            <p>date</p>
            <p>|</p>
            <p>time</p>
            <p>|</p>
            <p>count</p>
        </div>
    </div>
    <div class="header-icons">
        <div class="button-icon" id="darkModeToggle" title="change the theme">
            <img src="" alt="Light Mode" id="darkModeIcon">
        </div>
        <p>|</p>
        <div class="button-icon" id="languageButton" title="change the language">
            <img src="src/assets/icons/language.svg" alt="Language">
        </div>
        <div class="button-icon" id="profileButton" title="profile">
            <img id="userButton" src="src/assets/icons/user-profile.svg" alt="Profile">
            <button class="loginButton" id="loginButton">Sign in</button>
            <button class="registerButton" id="registerButton">Register</button>
        </div>
    </div>
</header>

</html>