<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Header Template</title>
    <link rel="stylesheet" href="/styles.css">
    <link rel="stylesheet" href="/src/css/header.css">
    <script src="/src/js/xlu-include-file.js"></script>
    <script type="module" src="/src/js/initDarkMode.js"></script>
</head>

<body>
    <header class="main-header">
        <div class="logo">
            <div class="button-icon">
                <a href="/index.html">
                    <img src="/src/assets/icons/logo.svg" alt="BookEat Logo" class="icon">
                </a>
            </div>
        </div>
        <div class="header-search">
            <div class="search">
                <button><img src="/src/assets/icons/search.svg" alt="Search"></button>
                <label>
                    <input type="text" placeholder="Search...">
                </label>
            </div>
            <div class="header-search-components">
                <div xlu-include-file="/src/components/hour-selector.html"></div>
                <div xlu-include-file="/src/components/diners-selector.html"></div>
                <div xlu-include-file="/src/components/date-selector.html"></div>
            </div>
        </div>
        <div class="header-icons">
            <div class="button-icon" id="darkModeToggle" title="change the theme">
                <img src="/src/assets/icons/dark-mode.svg" alt="Light Mode" id="darkModeIcon">
            </div>
            <p>|</p>
            <div class="button-icon" id="languageButton" title="change the language">
                <img src="/src/assets/icons/language.svg" alt="Language">
            </div>
            <div class="button-icon" id="profileButton" title="profile">
                <img id="userButton" src="/src/assets/icons/user-profile.svg" alt="Profile">
                <button class="secondary-button" id="loginButton">Sign in</button>
                <button class="primary-button" id="registerButton">Register</button>
            </div>
        </div>
    </header>
    <script>xLuIncludeFile()</script>
</body>

</html>