<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hour Selector</title>
    <link rel="stylesheet" href="../../styles.css">
    <link rel="stylesheet" href="../css/hour-selector.css">
    <script src="../js/xlu-include-file.js"></script>
</head>
<body>
    <div class="hour-wrapper">
        <button class="hour-placeholder">
            <img src="../assets/icons/clock.svg" alt="Clock" class="icon">
            <span class="placeholder">Time</span>
            <img src="../assets/icons/down-arrow.svg" alt="Down-arrow" class="icon">
        </button>
        <div class="hour-dropdown">
            <div xlu-include-file="hour-selector-button.html"></div>
            <div xlu-include-file="hour-selector-button.html"></div>
            <div xlu-include-file="hour-selector-button.html"></div>
            <div xlu-include-file="hour-selector-button.html"></div>
            <div xlu-include-file="hour-selector-button.html"></div>
            <div xlu-include-file="hour-selector-button.html"></div>
            <div xlu-include-file="hour-selector-button.html"></div>
        </div>
    </div>
    <script src="/src/js/hour-selector.js"></script>
    <script>xLuIncludeFile()</script>
</body>
</html>