<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hour Selector</title>
    <link rel="stylesheet" href="/src/css/hour-selector.css">
</head>
<body>
    <label class="hour-wrapper">
        <img src="../assets/icons/clock.svg" alt="Clock" class="icon">
        <select class="hour-dropdown">
            <option value="" disabled selected hidden>Time</option>
            <option value="1">Hour 1</option>
            <option value="2">Hour 2</option>
            <option value="3">Hour 3</option>
        </select>
        <img src="../assets/icons/down-arrow.svg" alt="Down-arrow" class="icon">
    </label>
</body>
</html>