<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hour Selector</title>
    <link rel="stylesheet" href="/src/css/hour-selector.css">
</head>
<body>
    <div class="hour-wrapper">
        <button class="hour-placeholder">
            <img src="../assets/icons/clock.svg" alt="Clock" class="icon">
            <span class="placeholder">Time</span>
            <img src="../assets/icons/down-arrow.svg" alt="Down-arrow" class="icon">
        </button>
        <div class="hour-dropdown">
            <button class="hour-button"> 09:00 - 11:00 </button>
            <button class="hour-button"> 09:00 - 11:00 </button>
            <button class="hour-button"> 09:00 - 11:00 </button>
            <button class="hour-button"> 09:00 - 11:00 </button>
            <button class="hour-button"> 09:00 - 11:00 </button>
            <button class="hour-button"> 09:00 - 11:00 </button>
        </div>
    </div>

    <script src="/src/js/hour-selector.js"></script>
</body>
</html>