<link rel="stylesheet" href="/src/css/forms.css">
<dialog id="login-popup" class="SinginForm" open>
  <h3>Login or create an account</h3>
  <p>Log in with your BookEat account to access all of our services and privileges.</p>
  <form>
    <label >
      <input type="email" placeholder="Email" required>
    </label>
    <label>
      <input type="password" placeholder="Password" required>
    </label>
    <button class="primary-button">Login</button>
  </form>
    <button class="secondary-button">Register</button>
</dialog>