<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Menu item</title>
    <link rel="stylesheet" href="../../styles.css">
    <link rel="stylesheet" href="../css/menu-item.css">
</head>
<body>
    <article class="menu-item-wrapper">
        <div class="menu-item-content">
            <header class="menu-item-header">
                <h2>Menu item</h2>
                <data class="price" value="10,50">10,50€</data>
            </header>
            <p class="menu-item-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam quis elementum ligula, et convallis felis.
               Donec porttitor turpis vel arcu suscipit aliquam.</p>
        </div>
        <div class="image-wrapper">
            <img class="menu-item-image" src="../assets/img/restaurant-item.png" alt="Menu item">
        </div>
    </article>
</body>
</html>