<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Menu Section</title>
    <link rel="stylesheet" href="../../styles.css">
    <link rel="stylesheet" href="../css/menu-section.css">
    <script src="../js/xlu-include-file.js"></script>
</head>
<body>
  <section class="menu-section">
    <header class="menu-section-header">
      <h2>Menu section</h2>
    </header>
    <div class="menu-section-items">
      <article xlu-include-file="menu-item.html"></article>
      <article xlu-include-file="menu-item.html"></article>
      <article xlu-include-file="menu-item.html"></article>
    </div>
  </section>
  <script>xLuIncludeFile()</script>

</body>
</html>