<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <link rel="stylesheet" href="/src/css/my-account-popup.css">

    <title>My Account popup</title>
</head>

<body>
    <div class="profile-overlay">
        <div class="profile-popup">
            <button class="profile-popup-content" id="my-account">
                <img src="/src/assets/icons/account-user.svg" alt="User Icon" class="user-icon">
                <p class="profile-popup-title">My Account</p>
            </button>
            <button class="profile-popup-content" id="my-reservations">
                <img src="/src/assets/icons/calendar-past-reserved.svg" alt="User Icon" class="user-icon">
                <p class="profile-popup-title">Past Reservations</p>
            </button>
            <button class="profile-popup-content" id="incoming-reservations">
                <img src="/src/assets/icons/calendar-incoming-reserverd.svg" alt="User Icon" class="user-icon">
                <p class="profile-popup-title">Incoming Reservations</p>
            </button>
            <button class="profile-popup-content" id="log-out">
                <img src="/src/assets/icons/logout.svg" alt="User Icon" class="user-icon">
                <p class="popup-title">Log Out</p>
            </button>
        </div>
    </div>
</body>

</html>