<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../styles.css">
    <link rel="stylesheet" href="../css/my-account-popup.css">

    <title>My Account Popup</title>
</head>

<body>
    <div class="profile-overlay">
        <div class="profile-popup">
            <button class="profile-popup-content" id="my-account">
                <img src="../assets/icons/account-user.svg" alt="User Icon" class="user-icon">
                My Account
            </button>
            <button class="profile-popup-content" id="my-reservations">
                <img src="../assets/icons/calendar-past-reserved.svg" alt="User Icon" class="user-icon">
                Past Reservations
            </button>
            <button class="profile-popup-content" id="incoming-reservations">
                <img src="../assets/icons/calendar-incoming-reserverd.svg" alt="User Icon" class="user-icon">
                Incoming Reservations
            </button>
            <button class="profile-popup-content" id="log-out">
                <img src="../assets/icons/logout.svg" alt="User Icon" class="user-icon">
                Log Out
            </button>
        </div>
    </div>
</body>

</html>