    <link rel="stylesheet" href="/src/css/my-account-popup.css">

<body>
    <div class="profile-overlay">
        <div class="profile-popup">
            <button class="profile-popup-content" id="my-account">
                <img src="/src/assets/icons/account-user.svg" alt="User Icon" class="user-icon icon_img">
                My Account
            </button>
            <button class="profile-popup-content" id="my-reservations">
                <img src="/src/assets/icons/calendar-past-reserved.svg" alt="User Icon" class="user-icon icon_img">
                Past Reservations
            </button>
            <button class="profile-popup-content" id="incoming-reservations">
                <img src="/src/assets/icons/calendar-incoming-reserverd.svg" alt="User Icon" class="user-icon icon_img">
                Incoming Reservations
            </button>
            <button class="profile-popup-content" id="log-out">
                <img src="/src/assets/icons/logout.svg" alt="User Icon" class="user-icon icon_img">
                Log Out
            </button>
        </div>
    </div>
</body>