
:root {
    --sds-size-space-300: 12px;
    --sds-size-space-200: 8px;
    --sds-size-radius-200: 12%;
    --background-button-color: #2C2C2C;
    --text-button-color: #FFFFFF;
}

.restaurantInfo{
    display: flex;
    flex-direction: row;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center;
    gap: 16px;
}

.restaurantInfo header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.restaurantInfo .buttonContainer{
    display: flex;
    flex-direction: row-reverse;
    gap: 8px;
}
.restaurantInfo .buttonContainer button{
    color: var(--text-button-color);
    padding: var(--sds-size-space-300);
    justify-content: center;
    align-items: center;
    gap: var(--sds-size-space-200);
    align-self: stretch;
    border-radius: var(--sds-size-radius-200);
    border: 1 solid var(--background-button-color);
    background: var(--background-button-color);
}

.restaurantImage{
    width: 100%;
    border-radius: 4%;
}
