<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Restaurant Info</title>
    <link rel="stylesheet" href="../../styles.css">
    <link rel="stylesheet" href="../css/restaurant-info.css">
</head>
<article class="restaurantInfo">
    <img src="../assets/img/restaurant-item.png" alt="a restaurant image" class="restaurantImage">
    <div class ="restaurantInformationText">
        <header>
            <h1>Restaurant Name</h1>
            <span>5⭐</span>
        </header>
        <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
            industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
            scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into
            electronic typesetting, remaining essentially unchanged.
        </p>
        <div class="buttonContainer">
            <button id="menu-image" class="secondary-button">
                <img src="../assets/icons/restaurant-menu.svg" alt="restaurant menu">
            </button>
            <button class="primary-button">Book</button>
        </div>
    </div>
</article>

</html>