<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Write Review Popup</title>
    <link rel="stylesheet" href="../../styles.css">
    <link rel="stylesheet" href="../css/write-review-popup.css">
</head>
<body>
<dialog id="review-dialog">
  <header>
    <h1 class="review-title">Restaurant Name</h1>
  </header>

  <section class="review-description">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam quis elementum ligula, et convallis felis.
      Donec porttitor turpis vel arcu suscipit aliquam. Sed et interdum eros. Phasellus ut vehicula mi, in condimentum erat.
      Suspendisse potenti. Curabitur quis tellus et nisl tempus rhoncus id vitae mauris. Curabitur ac elit vel magna pretium
      laoreet quis porta nisi. Sed justo sapien, ullamcorper quis est nec, sagittis blandit risus. Morbi tempus tincidunt
      nibh nec auctor. Phasellus bibendum tellus ac elementum mollis.</p>
  </section>

  <section class="pros-cons-container">
    <section class="pros-cons">
      <header>
        <h2>Pros</h2>
      </header>
      <ul>
        <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
        <li>Etiam quis elementum ligula.</li>
        <li>Donec porttitor turpis vel arcu suscipit.</li>
      </ul>
    </section>
    <section class="pros-cons">
      <header>
        <h2>Cons</h2>
      </header>
      <ul>
        <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
        <li>Etiam quis elementum ligula.</li>
        <li>Donec porttitor turpis vel arcu suscipit.</li>
      </ul>
    </section>
  </section>

  <section class="star-rating">
    <p>Star Rating</p>
  </section>

  <section class="insert-image">
    <p>Insert Image</p>
  </section>

  <footer class="review-footer">
    <button class="cancel-button">Cancel</button>
    <button class="submit-button">Submit</button>
  </footer>
</dialog>

</body>
</html>