body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 20px;
    width: 100%;
    overflow-y: auto;
}

.reservation-container {
    display: flex;
    flex-direction: column;
    width: 90%;
    align-self: center;
    flex: 0 0 auto;
}
