body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    width: 100%;
}

.reservation-container {
    display: flex;
    align-self: center;
    width: 90%;
}