.date-picker {
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0.8rem;
    background-color: transparent;
    cursor: pointer;
    user-select: none;
}

.date-picker__input,
.date-picker__input::placeholder,
.date-picker .flatpickr-input {
    width: 11ch;
    min-width: 11ch;
    max-width: 11ch;
    padding: 0 !important;
    flex: 0 0 auto;
    border: none;
    outline: none;
    background: transparent;
    font-size: 1rem;
    cursor: pointer;
    color: var(--text-primary);
}

.date-picker__calendar,
.date-picker__arrow {
    width: 1.2rem;
    height: 1.2rem;
}

.date-picker input {
    -webkit-appearance: none;
    appearance: none;
}

@media (max-width: 640px) {
    .date-picker {
        padding: 0.45rem 0.35rem;
    }

    .date-picker__input,
    .date-picker__input::placeholder,
    .date-picker .flatpickr-input {
        width: 11ch;
        min-width: 11ch;
        max-width: 11ch;
        padding: 0 !important;
        font-size: 1rem;
    }

    .date-picker__calendar {
        width: 1rem;
        height: 1rem;
    }
    .date-picker__arrow {
        display: none;
    }

}
