<link rel="stylesheet" href="/src/templates/date-selector/date-selector.css">

<div id="date-picker" class="flatpickr date-picker">
    <img id="calendar-icon" src="/src/assets/icons/calendar.svg" alt="Calendar Icon" class="date-picker__calendar icon" data-toggle>
    <label> <input type="text" class="date-picker__input" placeholder="Date" data-input> </label>
    <img id="dropdown-arrow" src="/src/assets/icons/down-arrow.svg" alt="Down Arrow" class="date-picker__arrow icon" data-toggle>
</div>

<script type="module" src="/src/templates/date-selector/date-selector.js"></script>