dialog {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #e1e1e1;
    border: 1px solid #ccc;
    border-radius: 0.25em;
    padding: 2rem;
    gap: 1rem;
}
section{
    display: flex;
    flex-direction: column;
    background: var(--bg-primary);
    padding: 1rem;
    border-radius: 0.25em;
}
.details-content{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}
figure{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem;
}
img{
    width: 24rem;
}

.info-container{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.icon{
    width: 2rem;
    height: 2rem;
}
.info-container p{
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    gap: 3px;
}

button > img {
    width: 2rem;
    height: 2rem;
    color: var(--text-primary);
}