.diners-counter {
    display: inline-flex;
    align-items: center;
    color: var(--text-primary);
    gap: 10px;
    padding: 10px;
    border-radius: 3rem;
    border: 0.15rem solid var(--text-primary);
}

.diners-counter > button {
    border-radius: 2rem;
}

.diners-counter > img {
    height: 2em;
    width: 2em;
}