:root {
    --button-padding: 12px;
    --button-gap: 8px;
    --button-radius: 12% 12% 12% 12%;
    --background-button-color: #e1e1e1;
    --text-button-color: #191a1c;
}

.diners-counter {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    color: var(--text-button-color);
    gap: 10px;
    padding: 10px;
    border-radius: 100px;
    border: 3px solid var(--text-button-color);
}
.diners-counter button{
    border-radius: 50%;
    color: white;
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--background-button-color);
}