#edit-profile-image-dialog {
    display: inline-flex;
    flex-direction: column;
    padding: 2rem 1.5rem 1.5rem;
    border-radius: 20px;
    border: none;
    background-color: var(--shadow);
    gap: 1.5rem;
}

.popup-content {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}

.popup-footer {
    text-align: end;
}
