.edit-property {
    display: inline-flex;
    align-items: center;
    padding: 0.5rem;
    gap: 0.5rem;
}

.icon {
    width: 1.2rem;
    height: 1.2rem;
}

.edit-field {
    border: var(--text-primary) solid 1px;
    padding: 0.2rem;
    border-radius: 0.2rem;
}

#property {
    border: none;
}