#edit-profile-image-dialog {
    display: inline-flex;
    flex-direction: column;
    padding: 2rem 1.5rem 1.5rem;
    border-radius: 20px;
    border: none;
    background-color: var(--shadow);
    gap: 1.5rem;
}

.popup-content {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}

.popup-footer {
    text-align: end;
}

.cancel-button {
    background-color: var(--bg-primary);
    border: 0.1em solid #000000;
    color: var(--text-primary);
    padding: 0.4em 1em;
    border-radius: 6px;
}

.save-button {
    background-color: var(--text-primary);
    border: 0.1em solid #000000;
    color: var(--bg-primary);
    padding: 0.4em 1em;
    border-radius: 6px;
}
