
footer{
    background: #D9D9D9;
    color: #000;
}

footer img{
    width: 5em;
    height: auto;
}

.site-footer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
    padding: var(--border-padding);
}

.footer-column{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-content: center;
    align-items: center;
}