.site-footer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
    padding: var(--border-padding);
}

.footer-column{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-content: center;
    align-items: center;
}