.form {
    display: flex;
    flex-direction: column;
    background: var(--bg-secondary);
    align-items: center;
    text-align: center;
    justify-content: center;
    gap: 1rem;
    padding: 2rem;
    border-radius: 8px;
    border: none;
    box-shadow: 0 4px 10px var(--shadow);
    color: var(--text-primary);
}

.form > form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    align-items: center;
    width: 100%;
}

.form input {
    width: 100%;
    background: white;
    flex: 1;
    padding: 0.5rem;
    border-radius: 0.8rem;
}

.form > .secondary-button {
    border: none;
    background: none;
}

.form__fields {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 100%;
}

.form__row {
    display: inline-flex;
    flex-direction: row;
    flex: 1;
    align-items: center;
    gap: 1rem;
    width: 100%;
}

.form__row > label{
    width: 100%;
}

.login-form,
.register-form {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}