dialog {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 2rem;
    border-radius: 8px;
    border: none;
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
}


dialog form {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
}
dialog form label{
    width: 100%;
}

dialog form input {
    width: 100%;
    background: var(--background-button-color);
    flex: 1;
    padding: 2px 10px;
    border-radius: 8px;
}
button{
    padding: 4px;
    background: none;
    border: none;
}
dialog div{
    display: flex;
    flex:1;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    width: 100%;
}

#login-button {
    background: #2C2C2C; /*todo: ponerlo como variable general para poder hacer el modo oscuro too*/
    color: var(--bg-secondary);
    border-radius: 4px;
}

#register-button {
    color: #757575; /*todo: ponerlo como variable general para poder hacer el modo oscuro too*/
}
.tags-container {
    display: none;
    flex-wrap: wrap;
    gap: 8px;
    margin-top: 10px;
    min-height: 30px;
}
.tags-container.visible {
    display: flex;
}