.form {
    display: flex;
    flex-direction: column;
    background: var(--bg-secondary);
    align-items: center;
    gap: 1rem;
    padding: 2rem;
    border-radius: 8px;
    border: none;
    box-shadow: 0 4px 10px var(--shadow);
    color: var(--text-primary);
}

.form p {
    text-align: center;
}

.form form {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
}
.form form label{
    width: 100%;
}

.form form input {
    width: 100%;
    background: white;
    flex: 1;
    padding: 2px 10px;
    border-radius: 8px;
}

.form div{
    display: flex;
    flex:1;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    width: 100%;
}

.form .secondary-button {
    border: none;
    background: none;
}

.tags-container {
    display: none;
    flex-wrap: wrap;
    gap: 8px;
    margin-top: 10px;
    min-height: 30px;
}
.tags-container.visible {
    display: flex;
}

.login-form,
.register-form{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}