dialog {
    display: flex;
    background: var(--bg-secondary);
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 2rem;
    border-radius: 8px;
    border: none;
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
}


dialog form {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
}
dialog form label{
    width: 100%;
}

dialog form input {
    width: 100%;
    background: white;
    flex: 1;
    padding: 2px 10px;
    border-radius: 8px;
}

dialog div{
    display: flex;
    flex:1;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    width: 100%;
}

#login-button {
    border: none;
    background: none;
}

.tags-container {
    display: none;
    flex-wrap: wrap;
    gap: 8px;
    margin-top: 10px;
    min-height: 30px;
}
.tags-container.visible {
    display: flex;
}