.hour-button {
    padding: 0.5rem;
    border: none;
}

.hour-button:hover {
    background-color: var(--shadow);
}

.hour-button.selected {
    background-color: var(--shadow);
}

.hour-button.occupied {
    color: var(--bg-primary);
    background-color: var(--text-primary);
}