.hour-wrapper {
    position: relative;
    display: inline-flex;
    align-items: center;
    border: none;
    cursor: pointer;
    background-color: var(--bg-secondary);
}

.icon {
    width: 1.2em;
    height: 1.2em;
    flex-shrink: 0;
    pointer-events: none;
}

.hour-dropdown {
    appearance: none;
    -webkit-appearance: none;
    padding: 1em;
    border: none;
    flex-grow: 1;
    text-align: center;
    background: transparent;
    cursor: pointer;
}

body.dark-mode .icon > button > img {
    filter: invert(1) sepia(1) grayscale(1) brightness(0.9);
}