dialog {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 2rem;
    border-radius: 8px;
    border: none;
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
}


dialog form {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
}

dialog form input {
    width: 100%;
    background: var(--background-button-color);
    padding: 2px 10px;
    border-radius: 8px;
}
button{
    padding: 4px;
    background: none;
    border: none;
}
#login-button {
    background: #2C2C2C; /*todo: ponerlo como variable general para poder hacer el modo oscuro too*/
    color: var(--bg-secondary);
    border-radius: 4px;
}

#register-button {
    color: #757575; /*todo: ponerlo como variable general para poder hacer el modo oscuro too*/
}