.menu-section {
    display: inline-flex;
    align-items: center;
    flex-direction: column;
    padding: 0.5rem;
    gap: 0.5rem;
    background: transparent;
}

.menu-section-header {
    color: var(--text-primary);
}

.menu-section h2 {
    font-size: 1.5rem;
}

.menu-section-items {
    display: inline-flex;
    flex-direction: column;
    gap: 0.2rem;
}