.menu-item-wrapper {
    display: flex;
    align-items: stretch;
    font-size: inherit;
    background-color: var(--bg-secondary);
    border-radius: 30px;
    padding: 1rem 2rem;
    gap: 1rem;
    color: var(--text-primary);
}

.menu-item-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--text-primary);
}

.menu-item-content {
    flex: 1;
}

.image-wrapper {
    display: flex;
    align-items: stretch;
}

.menu-item-image {
    width: 100%;
    height: auto;
    object-fit: contain;
    max-width: 8rem;
}