
body{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
aside{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.read-more-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}