:root {
    --sds-size-space-300: 12px;
    --sds-size-space-200: 8px;
    --sds-size-radius-200: 12%;
    --background-button-color: #2c2c2c;
    --text-button-color: #ffffff;
}

.restaurantInfo {
    display: flex;
    flex-direction: row;
    gap: 16px;
}
.restaurantImage{
    width: 35%;
    height: 35%;
    border-radius: 4%;
}

.restaurantInformationText{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.restaurantInfo header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.restaurantInfo .buttonContainer {
    display: flex;
    flex-direction: row-reverse;
    gap: 8px;
    padding: 16px;
}
#cart-image{
    background-color: #e1e1e1;
    height: fit-content;
    border: none;
    padding: 0;
    display: flex;
}

#cart-image img {
    with: 3rem;
    height: 3rem;
    display: block;
}

.restaurantInfo .buttonContainer button {
    color: var(--text-button-color);
    padding: var(--sds-size-space-300);
    justify-content: center;
    align-items: center;
    gap: var(--sds-size-space-200);
    align-self: stretch;
    border-radius: var(--sds-size-radius-200);
    border: 1px solid var(--background-button-color);
    background: var(--background-button-color);
}

