#review-dialog {
    display: flex;
    flex-direction: column;
    font-size: inherit;
    background-color: var(--bg-primary);
    border: none;
    gap: 1em;
    padding: 1.5em;
    border-radius: 30px;
}

.review-title {
    text-align: center;
}

.review-content {
    background-color: var(--bg-secondary);
    border-radius: 20px;
    padding: 0.8em 1.5em;
    gap: 1em;
    flex: 1;
}

.pros-cons-container {
    display: flex;
    gap: 1em;
}

.star-rating > p, .insert-image > p {
    text-align: center;
}

.review-footer {
    text-align: end;
}