#review-dialog {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--bg-primary);
    border: none;
    gap: 1em;
    padding: 1.5em;
    border-radius: 30px;
}

h1 { font-size: 2rem; }
h2 { font-size: 1.25rem; }

.review-content {
    background-color: var(--bg-secondary);
    border-radius: 20px;
    padding: 0.8em 1.5em;
    gap: 1em;
    flex: 1;
}

.pros-cons-container {
    display: flex;
    align-self: stretch;
    gap: 1em;
}

.review-footer {
    align-self: flex-end;
}