<link rel="stylesheet" href="/src/css/restaurant-item.css">

<div class="restaurant-preview">
    <div class="restaurant-img">
        <img src="/src/assets/img/restaurant-item.png" alt="Restaurant img" />
    </div>
    <div class="restaurant-body">
        <h1 class="restaurant-title">Restaurant Name</h1>
        <div class="restaurant-info">
            <div xlu-include-file="/src/components/user-score.html"></div>
            <p class="restaurant-price">10€ - 20€</p>
        </div>
    </div>
</div>