<link rel="stylesheet" href="/src/templates/restaurant-item/restaurant-item.css">
<link rel="stylesheet" href="/styles.css">

<a href="/BookEat/src/pages/restaurant-info-page/restaurant-info-page.html" class="restaurant-item">
    <div class="restaurant-item__image">
        <img class="icon" src="/src/assets/img/restaurant-item.png" alt="Restaurant img"/>
    </div>
    <div class="restaurant-item__content">
        <h1 class="restaurant-item__content__title">Restaurant Name</h1>
        <div class="restaurant-item__content__info">
            <div xlu-include-file="/src/templates/user-score/user-score.html"></div>
            <p class="restaurant-item__content__info__price">10€ - 20€</p>
        </div>
    </div>
</a>