<link rel="stylesheet" href="../../templates/restaurant-item/restaurant-item.css">
<link rel="stylesheet" href="/styles.css">

<a href="../../pages/restaurant-info-page/restaurant-info-page.html" class="restaurant-item">
    <div class="restaurant-item__image">
        <img data-template="image" src="../../assets/img/restaurant-item.png" alt="Restaurant img"/>
    </div>
    <div class="restaurant-item__content">
        <h1 data-template="name" class="restaurant-item__content__title">Restaurant Name</h1>
        <div class="restaurant-item__content__info">
            <div load-template="user-score"></div>
            <p class="restaurant-item__content__info__price">10€ - 20€</p>
        </div>
    </div>
</a>