<div class="d-flex flex-column gap-3 p-4 flex-grow-1">
  <div class="d-flex justify-content-center">
    <app-date-range [type]="type()" (rangeChange)="dateRange.set($event)" />
  </div>

  <div class="d-flex flex-column gap-4 w-100">
    @if (item(); as resolvedItem) {
      @for (book of bookings(); track book.id) {
        @if (type(); as type) {
          <app-overview [type]="type" [item]="resolvedItem" [booking]="book" />
        }
      } @empty {
        <p class="reservations-page__empty">No reservations found.</p>
      }
    }
  </div>
</div>
