@if (user(); as u) {
  <div ngbDropdown class="d-inline-block" placement="bottom-end">
    <div
      class="user-avatar-trigger d-flex align-items-center"
      ngbDropdownToggle
      id="profileDropdown"
      data-bs-toggle="dropdown"
      aria-expanded="false">

      @if (u.image) {
        <img [src]="u.image" class="rounded-circle border shadow-sm" width="45" height="45" alt="User Avatar">
      } @else {
        <div class="avatar-placeholder d-flex align-items-center justify-content-center rounded-circle border shadow-sm">
          <i class="bi bi-person-circle"></i>
        </div>
      }
    </div>

    <ul ngbDropdownMenu class="dropdown-menu dropdown-menu-end shadow-lg border-0 py-2 mt-2" aria-labelledby="profileDropdown">

      <li>
        <button ngbDropdownItem class="dropdown-item d-flex align-items-center gap-3 py-2" [routerLink]="['/edit-profile']">
          <i class="bi bi-person-gear fs-5"></i> My Account
        </button>
      </li>

      @if (u.role === 'RESTAURANT' && myRestaurantId()) {
        <li>
          <button ngbDropdownItem class="dropdown-item d-flex align-items-center gap-3 py-2"
                  [routerLink]="['/', myRestaurantId()]" [queryParams]="{edit: true}">
            <i class="bi bi-shop fs-5"></i> My Restaurant
          </button>
        </li>
      }

      <li>
        <button ngbDropdownItem class="dropdown-item d-flex align-items-center gap-3 py-2" [routerLink]="['/reservations-page']" [queryParams]="{time: 'past'}">
          <i class="bi bi-calendar-check fs-5"></i> Past Reservations
        </button>
      </li>

      <li>
        <button ngbDropdownItem class="dropdown-item d-flex align-items-center gap-3 py-2" [routerLink]="['/reservations-page']" [queryParams]="{time: 'incoming'}">
            <i class="bi bi-calendar-event fs-5"></i> Incoming Reservations
        </button>
      </li>

      <li><hr class="dropdown-divider mx-2 my-2 opacity-25"></li>

      <li>
        <button (click)="logout()" ngbDropdownItem class="dropdown-item d-flex align-items-center gap-3 py-2 text-danger">
          <i class="bi bi-box-arrow-right fs-5"></i>
          <span>Log Out</span>
        </button>
      </li>
    </ul>
  </div>
}
