.menu-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.5rem;
    gap: 1rem;
    background: transparent;
}

.menu-section__header {
    color: var(--text-primary);
}

.menu-section h2 {
    font-size: 2rem;
    font-weight: 600;
}

.menu-section__items {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.5rem;
    width: 100%;
}

@media (max-width: 992px) {
    .menu-section__items {
        grid-template-columns: 1fr;
    }
}