
.menu-section {
    display: inline-flex;
    align-items: center;
    flex-direction: column;
    padding: 0.5rem;
    gap: 1rem;
    background: transparent;
}

.menu-section__header {
    color: var(--text-primary);
}

.menu-section h2 {
    font-size: 2rem;
}

.menu-section__items {
    display: inline-flex;
    flex-direction: column;
    gap: 1rem;
}