<link rel="stylesheet" href="/src/templates/menu-section/menu-section.css">

  <section class="menu-section">
    <header class="menu-section__header">
      <h2>Menu section</h2>
    </header>
    <div class="menu-section__items">
      <article xlu-include-file="/src/templates/menu-item/menu-item.html"></article>
      <article xlu-include-file="/src/templates/menu-item/menu-item.html"></article>
      <article xlu-include-file="/src/templates/menu-item/menu-item.html"></article>
    </div>
  </section>