.overview {
  background-color: var(--bg-secondary);
}

.overview__image {
  height: 13rem;
  width: 14rem;
}

.overview__description {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
}

@media (max-width: 640px) {
  .overview { flex-direction: column; width: min(100%, 26rem); margin: 0 auto; }
  .overview__image { width: 100%; height: auto; max-height: 13rem; }
}
