.pagination {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin: 2rem 0;
    width: 100%;
}

.pagination__list {
    display: flex;
    align-items: center;
    gap: 8px;
}

.page-item {
    min-width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 10px;
    font-size: 1rem;
    color: var(--text-primary);

    border: 1px solid transparent;
    transition: all 0.2s ease;
}

.page-item.active {
    background-color:var(--bg-secondary);
    color: var(--text-primary);
    border: 1px solid var(--text-primary);
    font-weight: 600;
}

.page-item:not(.active):not(.dots):hover {
    border: 1px solid var(--text-primary);
    background-color:var(--bg-secondary) ;
}

.page-item.dots {
    cursor: default;
    border: none;
}

.pagination__arrow {
    background: transparent;
    border: 1px solid transparent;
    border-radius: 10px;
    padding: 8px;
    cursor: pointer;
}
.pagination__arrow > img{
    width: 2em;
    height: 2em;
}
#next-page > img {
    transform: rotate(180deg);

}

.pagination__arrow:hover:not(:disabled) {
    border: 1px solid var(--text-primary);
}