.table-map{
    border: 2px solid var(--border-color);
    border-radius: 4px;
    padding: 1em;
    background: var(--bg-primary);
    display: inline-block;
    align-items: center;
}

.table-map__map{
    border: 1px solid var(--border-color);
    border-radius: 0.1rem;
    padding: 1rem;
    background: var(--bg-secondary);
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 2rem;
}

.table-item__map__table {
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    cursor: pointer;
}

.table-map__map__table__shape {
    width: 5em;
    height: 5em;
    font-size: inherit;
    background:  #9e9e9e;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background 0.15s;
}

.table-map__map__table__shape-square {
    border-radius: 6px;
}

.table-map__map__table__shape-round {
    border-radius: 50%;
}

.table-item__map__table.occupied .table-map__map__table__shape {
    background: var(--text-primary);
    color: var(--bg-primary);
    cursor: default;
}

.table-item__map__table.selected .table-map__map__table__shape {
    background: #81c784;
}