<link rel="stylesheet" href="/src/templates/restaurant-info/restaurant-info.css">

<article class="restaurantInfo">
    <img src="/src/assets/img/restaurant-item.png" alt="a restaurant image" class="restaurantImage">
    <div class ="restaurantInformationText">
        <header>
            <h1>Restaurant Name</h1>
            <span xlu-include-file="/src/templates/user-score/user-score.html"></span>
        </header>
        <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
            industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
            scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into
            electronic typesetting, remaining essentially unchanged.
        </p>
        <div class="buttonContainer">
            <button id="menu-image" class="secondary-button">
                <img src="/src/assets/icons/restaurant-menu.svg" alt="restaurant menu" class="icon_img">
            </button>
            <a href="./book-table-page.html" style="text-decoration: none;">
            <button class="primary-button">
                Book
            </button>
            </a>
        </div>
    </div>
</article>