.restaurantInfo {
    display: flex;
    gap: 1rem;
    padding: 1rem;
    border-radius: 1rem;
    background-color: var(--bg-secondary);
}
.restaurantImage{
    width: 35%;
    height: 35%;
    border-radius: 4%;
}

.restaurantInformationText{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.restaurantInfo header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--text-primary);
}

.restaurantInformationText > p {
    color: var(--text-secondary);
}

.restaurantInfo .buttonContainer {
    display: flex;
    flex-direction: row-reverse;
    gap: 8px;
    padding: 16px;
}
a button {
    height: 100%;
}

#menu-image{
    height: fit-content;
    display: flex;
    padding: 0.5rem;
    border: none;
}

#menu-image > img {
    width: 2rem;
    height: 2rem;
}
