.restaurant-item__content__info {
    display: flex;
    gap: 2rem;
    padding: 2rem;
    border-radius: 1rem;
}

.restaurant-info__image{
    height: 25rem;
    aspect-ratio: 1.3/1;
    border-radius: 4%;
}

.restaurant-info__content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.restaurant-info__content__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 3rem;
    color: var(--text-primary);
}

.restaurant-item__content__info .restaurant-info__content__buttons {
    display: flex;
    flex-direction: row-reverse;
    gap: 8px;
    padding: 16px;
}

.restaurant-info__content__buttons__menu {
    height: fit-content;
    display: flex;
    padding: 0.5rem;
    border: none;
}

.restaurant-info__content__buttons__menu__icon{
    width: 2rem;
    height: 2rem;
}
